//colors
$red: #ff6962;
$white: #ffffff;  
$black: #000000; 
$grey: #4a4a4a;
$dark_grey: #202020; 


$lightgrey: #f1efeb;   
$brown: #a69e8c;
$text: #343434; 
$violet: #A188A6;
$green: #81A6A6;
$orange: #F47D4C;




//default font-size
$default-font-size: 14;

//font-sizes
$f10: #{10/$default-font-size}rem;
$f14: #{14/$default-font-size}rem;  
$f15: #{15/$default-font-size}rem;
$f16: #{16/$default-font-size}rem;
$f17: #{17/$default-font-size}rem;
$f18: #{18/$default-font-size}rem; 
$f19: #{19/$default-font-size}rem; 
$f20: #{20/$default-font-size}rem; 
$f21: #{21/$default-font-size}rem;   
$f22: #{22/$default-font-size}rem;
$f30: #{30/$default-font-size}rem;
$f50: #{50/$default-font-size}rem;


//break point definition
$breakpoint-map: (  
  'default': 0px,  
  'sm': 576px,
  'md': 768px, 
  'lg': 992px, 
  'xl': 1200px 
); 







